{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Skate Spots</title>
  </head>
  <body>
        <h1 class="text-center">Skate spots</h1>
    <div class="container">
        
        <nav class="navbar navbar-expand-sm bg-dark">

            {% if user.is_authenticated %}
            <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="btn btn-dark" href="{% url 'skate:index' %}" role="button">Home</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-dark" href="{% url 'skate:logout' %}" role="button">Welcome {{request.user}}</a>
              </li>
              <li class="nav-item">
                  <button class="btn btn-dark" data-toggle="modal" data-target="#SpotModel" data-whatever="@mdo">Add Spot</a>
              </li>
            </ul>
            {% else %}
          
            <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="btn btn-dark" href="{% url 'skate:index' %}" role="button">Home</a>
              </li>
              <li class="nav-item">
                  <button class="btn btn-dark" data-toggle="modal" data-target="#SignupModel" data-whatever="@mdo">Sign Up</button>
              </li>
              <li class="nav-item">
                  <button class="btn btn-dark" data-toggle="modal" data-target="#signIn" data-whatever="@mdo">Login</a>
              </li>
            </ul>
          {% endif %}
          </nav>
        
        <div class="row align-items-center">
            <div class="col order-1">
                <br>
                <br>
                <table class="table table-hover table-dark">
                    <thead>
                        <th scope='col'>#</th>
                        <th scope="col">Spot Name</th>
              <th scope="col">Address</th>
              <th scope="col">Description</th>

            </tr>
            {% block content %}
             {% for spot in spot %}
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{spot.id}}</th>
              <td> <a href="{% url 'skate:detail' spot.id %}">
                <div style="height:100%;width:100%">
                    
                    {{spot.spot_name}}
                </div>
                </td>
              <td>{{spot.spot_address}}</td>
              <td>{{spot.spot_description}}</td>
             </tr>
            {% endfor %}
            {% endblock content %}
              
          </tbody>
        </table>
                    </thead>
                </table>  
        </div>
        
       


    <div class="modal fade" id="SignupModel" tabindex="-1" role="dialog" aria-labelledby="SignupModel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="SignupModel">Sign up</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'skate:signUp' %}" method="POST">
                    {% csrf_token %}
        
                    <div class="form-group">
                        <label for="exampleInputName1">Name</label>
                        <input name ='username' type="username" class="form-control" id="exampleInputName1" placeholder="Name">
                      </div> 
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input name ='email' type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input name ='password' type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
          </div>
        </div>
      </div>


      <div class="modal fade" id="signIn" tabindex="-1" role="dialog" aria-labelledby="SignInModel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="SignInModel">Sign up</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'skate:signIn' %}" method="POST">
                    {% csrf_token %}
        
                    <div class="form-group">
                        <label for="exampleInputName1">Name</label>
                        <input name ='username' type="username" class="form-control" id="exampleInputName1" placeholder="Name">
                      </div> 
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input name ='password' type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
          </div>
        </div>
      </div>

  

      <div class="modal fade" id="SpotModel" tabindex="-1" role="dialog" aria-labelledby="SpotModel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="SpotModel">Create Spot</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <form action="{% url 'skate:addSpot' %}" method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
          
                      <div class="form-group">
                          <label for="name">Spot name</label>
                          <input name ='name' type="name" class="form-control" id="spotName" placeholder="Name">
                        </div> 
                    <div class="form-group">
                      <label for="address">Address</label>
                      <input name ='address' type="address" class="form-control" id="address"  placeholder="Enter address">
                      
                    </div>
                    <div class="form-group">
                      <label for="Description">Description</label>
                      <textarea name ='Description' type= 'Description' class="form-control" id="Description" rows="3"></textarea>
                    </div>
                    <div class="file-group">
                      <div class="input-group-prepend">
                       
                      </div>
                      <div class="custom-file">
                        <input  name ='picture'type="file" class="custom-file-input" id="picture" aria-describedby="picture">
                        <label class="custom-file-label" for="picture">Choose file</label>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
              </div>
            </div>
          </div>
        </div>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>